@charset "UTF-8";

section {
  margin: 3rem 0;
}

/* splide overwrite */

/*.splide__track {*/
/*  overflow: visible !important;*/
/*}*/

/* playlists carousel styles */
.playlist-list .splide__slide.is-active .playlist-item .playlist-item-inner {
  transform: scale(1.2);
}
.playlist-list .splide__slide.is-active .playlist-item .playlist-item-footer {
  visibility: visible !important;
}

.playlist-list .playlist-item {
  padding: 4rem 2rem;
}

.playlist-list .playlist-item .playlist-item-inner {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  border: unset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all .2s ease-in-out;
}

.playlist-list .playlist-item .playlist-item-inner .playlist-img {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.playlist-list .playlist-item .playlist-item-inner .playlist-title {
  font-size: 18px;
  font-weight: normal;
}