<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Welcome Playlist Detail | Spotify</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0" th:text="${playlist.title}"></h1>
                <h2 class="masthead-subheading mb-0">Live comments!</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#comments">Show comments</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="comments">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="p-5">
                    <h2 class="display-4">Comments</h2>
                    <p>What do you think about this playlist? Share your opinion with the others.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div id="createPlaylistCommentContainer" th:insert="playlist/fragment/comment-create"></div>
                </div>
                <div class="col-12">
                    <ul id="playlistCommentList" th:attr="data-playlist-id=${playlist.id}" class="list-unstyled">
                        <li id="playlistCommentListPrototype" class="playlist-comment-item mb-3 d-none">
                            <h3 class="playlist-comment-username"></h3>
                            <p class="playlist-comment-content"></p>
                            <hr/>
                        </li>
                        <li th:each="comment, iter : ${playlist.comments}" class="playlist-comment-item mb-3">
                            <h3 th:if="${comment.createdBy != null}" class="playlist-comment-username" th:text="${comment.createdBy}"></h3>
                            <h3 th:if="${comment.createdBy == null}" class="playlist-comment-username">Author Unknown</h3>
                            <p class="playlist-comment-content" th:text="${comment.content}"></p>
                            <hr/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" th:src="@{/js/playlist.view.js}"></script>

</div>

</body>
</html>
