<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Welcome Start page | Spotify</title>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Spotify Shared Playlists</h1>
                <h2 class="masthead-subheading mb-0">Share your music!</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#playlists">Search playlists</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="playlists">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <button type="button"
                            data-bs-toggle="modal" data-bs-target="#createPlaylistModal"
                            class="btn btn-primary btn-xl rounded-pill mt-5 float-end" th:href="@{/}"
                            title="Create own playlist">
                        Create playlist
                    </button>

                    <div id="createPlaylistModal" class="modal fade" tabindex="-1"
                         th:insert="playlist/fragment/modal-create"
                         role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Our newest playlists!</h2>
                        <p>Take a look for our newly created playlists.</p>
                    </div>
                </div>
            </div>

            <section class="splide" aria-label="Our newest playlists">
                <div class="splide__track">
                    <ul class="splide__list playlist-list">
                        <li class="splide__slide" th:each="playlist, iter : ${playlists}">
                            <div class="playlist-item">
                                <div class="playlist-item-inner">
                                    <div class="playlist-img" style="background-image: url(/assets/img/02.jpg)"></div>
                                    <h3 class="playlist-title text-center pt-3" th:text="${playlist.title}"></h3>
                                </div>
                                <div class="playlist-item-footer text-center mt-5 pt-4 invisible">
                                    <a th:href="@{/playlists/{id}(id=${playlist.id})}" title="Show more">
                                        <i class="fa-regular fa-xl fa-circle-play"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>

    <section id="songs">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" th:src="@{/assets/img/03.jpg}" alt="..."/>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Explore all the songs...</h2>
                        <p>Sign in using your Spotify account and explore all the songs available in Spotify library.
                            Click now and check this out...</p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" th:href="@{/songs}"
                               title="Explore songs">
                                Explore songs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript"
            th:src="@{https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

</div>

</body>
</html>
