<form id="playlistCommentForm" method="post" th:action="@{/playlists/{id}/comments(id=${playlist.id})}"
      th:object="${form}">
    <div class="mb-3">
        <label for="playlistCommentContent" class="form-label">Komentarz</label>
        <textarea id="playlistCommentContent" class="form-control" th:field="*{content}"></textarea>
        <div th:if="${#fields.hasErrors('content')}" class="invalid-feedback" th:errors="*{content}">
        </div>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary btn-xl rounded-pill">Add comment</button>
    </div>
</form>
