<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new playlist</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="playlistForm" method="post" th:action="@{/playlists}" th:object="${form}">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="playlistTitle" class="form-label">Title</label>
                    <input id="playlistTitle" class="form-control" type="text" th:field="*{title}">
                    <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback" th:errors="*{title}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary rounded-pill">Create</button>
            </div>
        </form>
    </div>
</div>