<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Welcome Song list | Spotify</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Explore your songs!</h1>
                <h2 class="masthead-subheading mb-0">Chosen specially for you!</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#songs">Explore tracks</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="songs">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="p-5">
                    <h2 class="display-4">Your tracks</h2>
                    <p>List of songs chosen specially for you!</p>
                </div>
            </div>

            <table>
                <tbody>
                <tr th:each="song, iter : ${songs}">
                    <td th:text="${song.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

</body>
</html>
